.DS_Store

**/__pycache__

# AppCode template
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# File-based project format
*.iws
/HA_Pusher_events.db
/HA_Pusher_subscriptions.db
/.idea/domika-ha-integration.iml
/HA_Pusher/key.p8
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Pusher_events.db
